.about-us {
  padding-top: 25px;
  padding-bottom: 53px;
}

.about-us__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__list {
  margin: 0;
  margin-top: 27px;
  padding: 0;

  list-style: none;
}

.about-us__item {
  position: relative;

  margin-bottom: 23px;
  padding-top: 60px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    display: block;

    background-position: center;
    background-repeat: no-repeat;
  }

  &--ecology::before {
    top: 5px;
    left: 8px;

    width: 32px;
    height: 37px;

    background-image: url("../img/icon-feature-flower.svg");
  }

  &--style::before {
    top: 6px;

    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-money.svg");
  }

  &--social::before {
    top: 12px;
    left: 6px;

    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    top: 8px;
    left: 2px;

    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-ball.svg");
  }

  &--national-manufacturer::before {
    top: 9px;
    left: -7px;

    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--present-wrap::before {
    top: 7px;
    left: 3px;

    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: 768px) {
  .about-us {
    padding-top: 48px;
    padding-bottom: 82px;
  }

  .about-us__title {
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    margin-top: 45px;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }

    &--ecology::before {
      width: 33px;
      height: 38px;
    }

    &--ecology {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--social {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--national-manufacturer {
      order: 4;
    }

    &--present-wrap {
      order: 6;
    }
  }
}

@media (min-width: 1150px) {
  .about-us {
    padding: 55px 225px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    margin-top: 43px;
  }
}
