.about-us {
  padding-top: 25px;
  padding-bottom: 53px;
}

.about-us__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.about-us__list {
  margin: 0;
  margin-top: 27px;
  padding: 0;

  list-style: none;
}

.about-us__item {
  position: relative;

  margin-bottom: 23px;
  padding-top: 60px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  &:last-child {
    margin-bottom: 0;
  }
}

.about-us__icon {
  position: absolute;
  top: 0;
  left: 0;

  display: block;

  fill: #63d1bb;

  &--flower {
    top: 5px;
    left: 8px;

    width: 32px;
    height: 37px;
  }

  &--money {
    top: 6px;

    width: 47px;
    height: 27px;
  }

  &--heart {
    top: 12px;
    left: 6px;

    width: 34px;
    height: 27px;
  }

  &--ball {
    top: 8px;
    left: 2px;

    width: 35px;
    height: 34px;
  }

  &--rocket {
    top: 9px;
    left: -7px;

    width: 55px;
    height: 23px;
  }

  &--gift {
    top: 7px;
    left: 3px;

    width: 33px;
    height: 32px;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    padding-top: 48px;
    padding-bottom: 82px;
  }

  .about-us__title {
    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }

  .about-us__list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

    margin-top: 45px;
  }

  .about-us__item {
    width: 50%;
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 22px;

    &:nth-child(3n) {
      margin-bottom: 0;
    }

    &--ecology {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--social {
      order: 5;
    }

    &--handmade {
      order: 2;
    }

    &--national-manufacturer {
      order: 4;
    }

    &--present-wrap {
      order: 6;
    }
  }
}

.about-us__icon {
  &--flower {
    width: 33px;
    height: 38px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    padding: 55px 225px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }

  .about-us__list {
    margin-top: 43px;
  }
}
