.catalog-reference {
  padding-top: 70px;

  background-color: #ffffff;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -19px;
}

.catalog-reference__slogan {
  margin: 0;
  margin-bottom: 122px;
  padding: 0 30px;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  color: #010000;
}
