.catalog {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #ffffff;
}

.catalog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__image-link {
  display: block;
  line-height: 0;
}

.catalog__image-link:hover + .catalog__item-description {
  box-shadow: 0 6px 10px 0 #ececec;
}

.catalog__image-link:active + .catalog__item-description {
  box-shadow: 0 3px 5px 0 #ececec;
}

.catalog__item-description {
  position: relative;

  flex-grow: 1;
  padding: 27px;

  border: 1px solid $border-color;
}

.catalog__item-title {
  margin: 0;
}

.catalog__title-link {
  display: block;
  margin: 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: rgba(0,0,0,0.6);
  }

  &:active {
    color: rgba(0,0,0,0.3);
  }
}

.catalog__item-properties {
  margin: 0;
  margin-top: 5px;

  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.catalog__item-price {
  margin: 0;
  margin-top: 19px;
  padding-top: 20px;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  border-top: 1px solid $border-color;
}

.catalog__add-to-cart {
  position: absolute;
  bottom: 30px;
  right: 27px;

  display: block;
  width: 20px;
  height: 19px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  opacity: 0.2;

  cursor: pointer;
}

@media (min-width: $tablet-width) and (max-width: 1149px) {
  .catalog {
    padding-top: 80px;
    padding-bottom: 50px;
  }

  .catalog__item {
    min-height: 334px;
    margin-bottom: 54px;

    flex-direction: column;
    align-items: flex-end;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .catalog__title-link {
    padding-right: 40px;

    font-size: 20px;
    line-height: 24px;
  }

  .catalog__image {
    width: 334px;
  }

  .catalog__image-link {
    height: 334px;
    margin-right: 50%;
    margin-bottom: -334px;
  }

  .catalog__item-description {
    width: 50%;
    padding-top: 25px;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .catalog__item-properties {
    margin-top: 5px;

    font-size: 15px;
    line-height: 30px;
  }

  .catalog__item-price {
    margin-top: auto;
    padding-left: 5px;

    font-size: 17px;
    line-height: 24px;
  }

  .catalog__add-to-cart {
    bottom: 32px;
    right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding-top: 128px;
    padding-bottom: 60px;
  }

  .catalog__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
  }

  .catalog__item {
    flex-direction: column;
    justify-content: space-between;
    width: 316px;
    margin: 0;
  }

  .catalog__item-description {
    display: flex;
    flex-direction: column;
    padding: 25px;
  }

  .catalog__title-link {
    padding-right: 25px;

    font-size: 20px;
    line-height: 24px;
  }

  .catalog__image {
    width: 316px;
  }

  .catalog__image-link {
    height: 462px;
  }

  .catalog__item-properties {
    padding-bottom: 15px;

    font-size: 15px;
    line-height: 30px;
  }

  .catalog__item-price {
    margin-top: auto;

    font-size: 17px;
    line-height: 24px;
  }

  .catalog__add-to-cart {
    bottom: 28px;
    right: 31px;
  }
}
