.catalog-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  margin-top: auto;
  padding: 0;

  list-style: none;
}

.catalog-links__item {
  width: 100%;
  padding: 0;

  background-color: #63d1bb;
}

.catalog-links__item:nth-of-type(2n) {
  background-color: #56c3b2;
}

.catalog-links__link {
  position: relative;

  display: block;
  padding: 25.5px 30px 29.5px;
  padding-right: 50%;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.7);

    & .catalog-links__icon-interior {
      fill: rgba(0, 0, 0, 0.7);
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    & .catalog-links__icon-interior {
      fill: rgba(0, 0, 0, 0.3);
    }
  }
}

.catalog-links__icon-interior {
  position: absolute;
  top: 23px;
  right: 36px;

  display: block;
  width: 40px;
  height: 62px;

  fill: rgba(0, 0, 0, 0.5);
}

.catalog-links__icon-toy {
  position: absolute;
  top: 21px;
  right: 27px;

  display: block;
  width: 60px;
  height: 60px;

  fill: rgba(20, 144, 128, 0.5);
}

@media (min-width: $tablet-width) {
  .catalog-links {
    padding: 0 50px;
  }

  .catalog-links__item {
    width: 50%;
    box-sizing: border-box;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .catalog-links__link {
    padding: 27.5px 30px 31.5px;
    padding-left: 35px;
    padding-right: 60%;

    font-size: 20px;
    line-height: 30px;
  }

  .catalog-links__item--interior .catalog-links__link::after {
    top: 30px;
    right: 36px;
  }

  .catalog-links__item--toy .catalog-links__link::after {
    top: 32px;
    right: 34px;
  }
}
