.catalog-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-links__item {
  width: 100%;
  padding: 0;

  background-color: #63d1bb;
}

.catalog-links__item:nth-of-type(2n) {
  background-color: #56c3b2;
}

.catalog-links__link {
  display: block;
  padding: 27px 30px 28px;
  padding-right: 60%;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
  text-decoration: none;
}

@media (min-width: 768px) {
  .catalog-links {
    padding: 0 50px;
  }

  .catalog-links__item {
    width: 50%;
    box-sizing: border-box;
  }

  .catalog-links__link {
    padding-left: 35px;

    font-size: 20px;
    line-height: 30px;
  }
}
