.catalog {
  padding: 30px;

  background-color: #ffffff;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__title-link {
  display: block;
  margin: 0;
  padding: 20px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.catalog__item-title {
  margin: 0;
}

.catalog__item-description {
  position: relative;

  flex-grow: 1;
  padding: 0 30px;

  box-shadow: inset 0 0 0 1px #ececec;
}

.catalog__item-properties {
  margin: 0;

  font-size: 13px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
}

.catalog__item-price {
  margin: 0;
  padding: 25px 0;

  font-size: 15px;
  line-height: 24px;
  font-weight: bold;

  box-shadow: inset 0 1px 0 0 #ececec;
}

.catalog__image-link {
  display: block;
  line-height: 0;
}

.catalog__add-to-cart {
  position: absolute;
  bottom: 25px;
  right: 25px;

  display: block;
  width: 20px;
  height: 19px;
  margin: 0;
  padding: 0;

  font-size: 0;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  opacity: 0.2;

  cursor: pointer;
}

@media (min-width: 1150px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog__item {
    width: 316px;
  }
}
