.catalog-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-links__item {
  width: 100%;
  padding: 0;

  background-color: #63d1bb;

  &:hover {
    transform: translateY(-5px);
  }
}

.catalog-links__item:nth-of-type(2n) {
  background-color: #56c3b2;
}

.catalog-links__link {
  position: relative;

  display: block;
  padding: 25.5px 30px 29.5px;
  padding-right: 50%;

  font-size: 19px;
  line-height: 24px;
  font-weight: bold;

  color: #ffffff;
  text-decoration: none;

  &:active {
    color: rgba(255,255,255,0.3);
  }
}

.catalog-links__item--interior .catalog-links__link::after {
  content: "";

  position: absolute;
  top: 23px;
  right: 36px;

  display: block;
  width: 40px;
  height: 62px;

  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.5;
}

.catalog-links__item--toys .catalog-links__link::after {
  content: "";

  position: absolute;
  top: 21px;
  right: 27px;

  display: block;
  width: 60px;
  height: 60px;

  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.5;
}

.catalog-links__link:hover::after {
  opacity: 0.7;
}

.catalog-links__link:active::after {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .catalog-links {
    padding: 0 50px;
  }

  .catalog-links__item {
    width: 50%;
    box-sizing: border-box;
  }

  .catalog-links__link {
    padding: 27.5px 30px 31.5px;
    padding-left: 35px;
    padding-right: 60%;

    font-size: 20px;
    line-height: 30px;
  }

  .catalog-links__item--interior .catalog-links__link::after {
    top: 30px;
    right: 36px;
  }

  .catalog-links__item--toys .catalog-links__link::after {
    top: 32px;
    right: 34px;
  }
}
