.contacts__title {
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.contacts__wrapper {
  padding: 0 30px;
}

.contacts__writeus {
  margin: 40px auto;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  color: #444444;
  text-decoration: none;
}

.contacts__map-link {
  line-height: 0;
}
