.contacts-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;

  line-height: 30px;

  color: #444444;
}

.contacts-list__row {
  display: flex;
}

.contacts-list__field {
  margin: 0;
  padding: 15px 0;
  padding-right: 15px;
}

.contacts-list__value {
  margin: 0;
  padding: 15px;
}

.contacts-list__value--email a {
  display: inline-block;

  color: inherit;

  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
  vertical-align: bottom;
}

@media (min-width: $tablet-width) {
  .contacts-list {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;

    font-size: 17px;
  }

  .contacts-list__row {
    width: 50%;
  }

  .contacts-list__value {
    margin: 0;
    padding: 15px 10px;
  }

  .contacts-list__value--email {
    padding-left: 8px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-list {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    margin: 0;
    margin-top: 35px;
    padding-left: 175px;
    padding-right: 0;
  }

  .contacts-list__row {
    width: 100%;
  }
}
