.contacts {
  padding-top: 40px;
}

.contacts__data {
  margin: 0 30px;
  margin-top: 11px;
}

.contacts__title {
  margin: 0;
  padding: 0 30px;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;

  background-color: #ffffff;
}

.contacts__map-link {
  position: relative;

  display: block;
  margin-top: 25px;

  line-height: 0;

  &::before {
    content: "";
    position: absolute;
    top: 140px;
    left: 138px;

    display: block;
    width: 67px;
    height: 100px;

    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
  }
}

.contacts__writeus {
  margin: 40px auto;
  align-self: flex-end;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  color: #444444;
  text-decoration: none;
}

@media (min-width: 768px) {
  .contacts {
    position: relative;

    padding: 65px 0;
    padding-bottom: 17px;

    &::before {
      content: "";
      position: absolute;
      top: 44px;
      right: 53px;

      display: block;
      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__title {
    margin-left: -5px;
    padding: 0 50px;

    font-size: 43px;
    line-height: 50px;
  }

  .contacts__data {
    width: 665px;
    margin: 0 50px;
    margin-top: 33px;

    font-size: 17px;
    line-height: 30px;
  }

  .contacts__data tr {
    display: table-cell;
    width: 50%;

    vertical-align: top;
  }

  .contacts__map-link {
    height: 457px;
    margin-top: 41px;

    &::before {
      left: 364px;
    }
  }

  .contacts__map-image {
    width: 768px;
  }

  .contacts__writeus {
    width: 230px;
    margin-top: 55px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
    padding-bottom: 65px;

    &::before {
      top: 130px;
      left: 113px;
    }
  }

  .contacts__title {
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    margin-top: 70px;
    padding-left: 170px;

    font-size: 53px;
    line-height: 57px;
  }

  .contacts__data {
    width: 330px;
    margin-left: 175px;
    margin-right: 0;
  }

  .contacts__data tr {
    display: table-row;
    width: auto;
  }

  .contacts__map-link {
    order: -1;

    width: 50%;
    margin: 0;
    margin-left: 50%;
    margin-bottom: -457px;

    &::before {
      top: 145px;
      left: 238px;
    }
  }

  .contacts__map-image {
    width: 100%;
    height: 457px;
  }

  .contacts__writeus {
    margin-top: 65px;
    margin-left: 175px;
  }
}
