.contacts-list {
  line-height: 30px;

  border-collapse: collapse;
}

.contacts-list__field {
  padding: 15px 0;
  padding-right: 25px;

  text-align: left;
  vertical-align: top;
}

.contacts-list__value {
  padding: 15px 0;
  padding-left: 5px;

  text-align: left;
  vertical-align: top;
}

@media (min-width: $tablet-width) {
  .contacts-list__value {
    padding: 15px 0;
  }
}
