.copyrights {
  margin-top: 20px;
  padding: 0 38px;

  font-size: 0;
  text-align: center;

  border-top: 1px solid #ececec;
}

.copyrights__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 183px;
  padding-top: 20px;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;

  text-decoration: none;
  color: rgba(0, 0, 0, 1);

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.copyright__logo-htmlacademy {
  width: 27px;
  height: 34px;

  fill: rgba(99, 209, 187, 1);
}

.copyrights__link:hover .copyright__logo-htmlacademy {
  fill: rgba(70, 193, 174, 1);
}

.copyrights__link:active .copyright__logo-htmlacademy {
  fill: rgba(70, 193, 174, 0.3);
}

@media (min-width: $tablet-width) {
  .copyrights {
    align-self: flex-start;
    margin: 0;
    padding: 0;

    border-top: none;
  }

  .copyrights__link {
    padding-top: 5px;
  }
}
