.copyrights {
  padding: 23px 0;

  font-size: 0;
  text-align: center;
}

.copyrights__title {
  display: inline-block;
  margin: 0;
  margin-right: 30px;
  padding: 6px 0;

  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
  vertical-align: top;
}

.copyrights__link {
  display: inline-block;
  width: 27px;
  height: 34px;

  font-size: 15px;
  vertical-align: middle;

  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .copyrights__title {
    padding-top: 13px;
  }
}
