.main-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-nav__toggle {
  display: none;
}

.main-nav__site-navigation,
.main-nav__site-misc,
.main-nav__extra-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__item {
  position: relative;

  flex-grow: 1;
  padding: 27px 0;
  padding-left: 75px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  border-bottom: 1px solid $border-color;
}

.main-nav__item--cart .main-nav__link::before {
  content: "";

  position: absolute;
  top: 31px;
  left: 30px;

  display: block;
  width: 21px;
  height: 18px;

  background-image: url("../img/icon-cart.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.main-nav__site-navigation .main-nav__item:first-of-type {
  border-top: 1px solid $border-color;
}

.main-nav__site-misc .main-nav__item:last-of-type {
  border-bottom: none;
}

.main-nav__extra-list .main-nav__item {
  display: none;
}

.main-nav__link {
  color: inherit;
  text-decoration: none;
}

@media (max-width: $mobile-width--only) {
  .main-nav .main-nav__wrap {
    display: none;

    &:active {
      display: block;
    }
  }

  .main-nav__toggle {
    position: absolute;
    top: 31px;
    right: 31px;

    display: block;
    width: 20px;
    height: 14px;
    padding: 0;
    margin: 0;

    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: none;
    border: none;
    cursor: pointer;
  }

  .main-nav--closed .main-nav__toggle {
    background-image: url("../img/icon-menu-open.svg");
  }

  .main-nav--opened .main-nav__toggle {
    background-image: url("../img/icon-menu-close.svg");
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--opened .main-nav__wrap,
  .main-nav--nojs .main-nav__wrap {
    display: block;
  }
}

@media (min-width: 768px) {
  .main-nav {
    justify-content: space-between;
  }

  .main-nav__site-navigation {
    order: 2;

    width: 340px;
    min-height: 62px;
    box-sizing: border-box;
    padding: 0;

    background-color: transparent;
  }

  .main-nav__site-misc {
    order: 1;
  }

  .main-nav__extra-list {
    order: 3;

    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    min-height: 62px;

    background-color: transparent;
  }

  .main-nav__item {
    width: auto;
    padding: 31px 0;

    border: none;
  }

  .main-nav__site-navigation .main-nav__item {
    padding: 18px 0;
    padding-right: 36px;

    font-size: 15px;


    &:first-of-type {
      border-top: none;
    }
  }

  .main-nav__extra-list .main-nav__item {
    padding: 18px 0;

    font-size: 15px;

    &--delivery {
      display: block;

      font-weight: normal;
      text-align: right;
    }
  }

  .main-nav__item--search {
    min-width: 82px;
    padding: 0;

    border-left: 1px solid $border-color;

    &::before {
      top: 37px;
      left: 32px;
    }
  }

  .main-nav__item--cart {
    width: 265px;
    padding-left: 60px;
    box-sizing: border-box;

    text-align: right;

    border-left: 1px solid $border-color;
  }

  .main-nav__item--cart .main-nav__link::before {
    top: 35px;
    left: 31px;
  }
}

@media (min-width: 1150px) {
  .main-nav__site-navigation {
    order: 1;

    width: 375px;
  }

  .main-nav__site-misc {
    order: 3;
  }

  .main-nav__item--cart {
    width: 268px;
    padding-right: 3px;

    text-align: right;
  }

  .main-nav__site-navigation .main-nav__item {
    padding: 31px 0;
    box-sizing: border-box;

    font-size: 17px;
    text-align: left;

    &:nth-of-type(2n) {
      text-align: right;

      border-left: 1px solid $border-color;
    }
  }

  .main-nav__extra-list .main-nav__item {
    display: block;
    flex-grow: 0;
    margin-right: 62px;

    &:last-child {
      margin-right: 0;
    }

    &--delivery {
      flex-grow: 1;
    }
  }
}
