.manufacturing {
  margin-top: 20px;
  padding: 0 30px;

  background-color: #ffffff;
}

.manufacturing__wrap {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 33px;
  margin-bottom: 58px;

  box-shadow: inset 0 0 0 1px #ececec;
}

.manufacturing__title {
  position: relative;

  margin: 0;
  padding: 20px;
  padding-left: 90px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;

  &::before {
    content: "";

    position: absolute;
    top: 30px;
    left: 20px;

    display: block;
    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.manufacturing__video-container {
  position: relative;

  line-height: 0;

  &::before {
    content: "";

    position: absolute;
    top: 40px;
    left: 80px;

    display: block;
    width: 101px;
    height: 77px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}


.manufacturing__video-intro {
  margin: 0;
  margin-top: 20px;
  padding: 0 34px;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.manufacturing__make-order {
  display: block;
  margin: 0 34px;
  margin-top: 20px;
  width: 192px;

  font-weight: bold;
  color: #444444;
  text-decoration: none;
}

@media (min-width: 768px) {
  .manufacturing__video-container {
    order: -1;

    width: 682px;
  }
}

@media (min-width: 1150px) {
  .manufacturing__wrap {
    flex-direction: column;
    align-content: space-between;
    height: 455px;
  }

  .manufacturing__video-container {
    order: -1;

    height: 455px;
  }
}
