.manufacturing {
  display: flex;
  flex-direction: column;
  padding-bottom: 55px;

  background-color: #ffffff;
}

.manufacturing__title {
  position: relative;

  margin: 0;
  padding: 25px 0;
  padding-left: 89px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;

  border: 1px solid #ececec;
  border-bottom: 0;

  &::before {
    content: "";

    position: absolute;
    top: 36px;
    left: 34px;

    display: block;
    width: 32px;
    height: 22px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.manufacturing__video-container {
  position: relative;

  line-height: 0;
}

.manufacturing__icon-play {
  position: absolute;
  top: 37px;
  left: 80px;

  &:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.3;
    transition: 0.5s;
  }

  &::before {
    content: "";

    display: block;
    width: 101px;
    height: 77px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.manufacturing__intro-wrap {
  padding: 33px;
  padding-top: 26px;

  border: 1px solid #ececec;
  border-top: none;
}

.manufacturing__video-intro {
  margin: 0;

  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
  color: #444444;
}

.manufacturing__make-order {
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  padding-top: 16px;
  width: 192px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .manufacturing {
    min-height: 455px;
    padding-bottom: 62px;
  }

  .manufacturing__title {
    padding-top: 40px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 24px;

    &::before {
      top: 38px;
      left: 42px;
    }
  }

  .manufacturing__video-container {
    order: -1;

    margin-top: 0;

    &::before {
      top: 188px;
      left: 285px;
    }
  }

  .manufacturing__video {
    width: 100%;
  }

  .manufacturing__video-intro {
    margin: 0;
    padding: 0 40px;

    font-size: 15px;
    line-height: 30px;
  }

  .manufacturing__intro-wrap {
    padding: 0;
    padding-top: 7px;
    padding-bottom: 45px;

    border: 1px solid #ececec;
    border-top: none;
  }

  .manufacturing__icon-play {
    position: absolute;
    top: 191px;
    left: 284px;
  }

  .manufacturing__make-order {
    width: 584px;
    margin-top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .manufacturing {
    align-items: flex-end;
    padding-bottom: 100px;
  }

  .manufacturing__title {
    width: 368px;
    box-sizing: border-box;
    margin: 0;
    padding: 94px 80px;
    padding-bottom: 0;

    font-size: 20px;
    line-height: 24px;

    border-left: 0;

    &::before {
      top: 46px;
      left: 80px;
    }
  }

  .manufacturing__intro-wrap {
    width: 368px;
    padding: 32px;
    padding-left: 80px;
    padding-bottom: 63px;
    box-sizing: border-box;

    border-left: 0;
  }

  .manufacturing__video-intro {
    margin: 0;
    padding: 0;

    font-size: 15px;
    line-height: 30px;
  }

  .manufacturing__icon-play {
    top: 189px;
    left: 292px;
  }

  .manufacturing__video-container {
    order: -1;

    width: 682px;
    height: 455px;
    margin-bottom: -455px;
    margin-right: 368px;
  }

  .manufacturing__make-order {
    width: 230px;
    margin: auto;
    margin-left: 0;
    margin-top: 45px;
  }
}
