.modal-addtocart {
  position: fixed;
  z-index: 1;
  top: 100px;

  display: flex;
  flex-direction: column;
  padding: 35px 30px 45px;

  background-color: #ffffff;
  border-top: 1px solid #c7c7c7;
  box-shadow: 0 10px 20px 0 #d1d1d1;
}

.modal-addtocart__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.modal-addtocart__description {
  margin: 0;
  margin-top: 20px;

  font-size: 15px;
  line-height: 30px;
  font-weight: normal;
  color: #444444;
  text-align: center;
}

.modal-addtocart__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-top: 28px;
  padding: 0;

  font-size: 0;

  list-style: none;
}

.modal-addtocart__item label {
  display: block;
  width: 82px;
  height: 52px;
  padding: 18px 0;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-align: center;

  box-shadow: inset 0 0 0 2px $border-color;
}

.modal-addtocart__submit {
  margin: 0 auto;
  margin-top: 31px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;

  background-color: #63d1bb;
  border: none;
}

@media (min-width: 768px) {
  .modal-addtocart {
    padding: 50px 108px 45px;
  }

  .modal-addtocart__title {
    font-szie: 30px;
    line-height: 57px;
  }

  .modal-addtocart__item label {
    width: 112px;
  }

  .modal-addtocart__description {
    font-size: 17px;
  }

  .modal-addtocart__submit {
    width: 350px;
  }
}
