.order-form__group-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.order-form__group {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  border: none;
  border-top: 1px solid $form-border;
}

.order-form__legend {
  align-self: flex-start;
  min-width: 42px;
  padding-right: 25px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
  background-color: #ffffff;
}

.order-form__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;

  &--type {
    padding: 30px 0 39px;
  }

  &--color {
    padding: 30px 0 35px;
  }

  &--name {
    padding: 20px 0 40px;
  }

  &--contacts {
    padding: 0 0 40px;
  }

  &--comment {
    padding: 0;

    border-top: 1px solid $form-border;
  }
}

.order-form__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 62px;
  box-sizing: border-box;
}

.order-form__list--type .order-form__item {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__list--color .order-form__item {
  margin-bottom: 44px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__list--name .order-form__item {
  padding-left: 0;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__list--contacts .order-form__item {
  padding-left: 0;
  margin-bottom: 39px;

  &:last-child {
    margin-bottom: 0;
    border-top: 1px solid $form-border;
  }

  &--phone::before {
    content: "";

    position: absolute;
    top: 25px;
    right: 7px;

    width: 25px;
    height: 24px;

    background-image: url("../../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--mail::before {
    content: "";

    position: absolute;
    top: 30px;
    right: 4px;

    width: 32px;
    height: 21px;

    background-image: url("../../img/icon-mail.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.order-form__label {
  display: block;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &--radio::before {
    content: "";

    position: absolute;
    top: -8px;
    left: 1px;

    width: 38px;
    height: 38px;
    box-sizing: border-box;

    border: 2px solid #444444;
    border-radius: 50%;
    background-color: #62d1ba;
    box-shadow: inset 0 0 0 47px #ffffff;
  }

  &--checkbox::before {
    content: "";

    position: absolute;
    top: -10px;
    left: 1px;

    width: 40px;
    height: 39px;
    box-sizing: border-box;

    border: 2px solid #444444;
  }

  &--name {
    padding: 5px 0;
  }
}

.order-form__list--type input:checked + label::before {
  box-shadow: inset 0 0 0 10px #ffffff;
}

.order-form__list--color input:checked + label::before {
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 22px 16px;
}

.order-form__list--contacts .order-form__legend,
.order-form__list--comment .order-form__legend {
  display: block;
  margin-top: -10px;
}

.order-form__field {
  padding: 13px 0 18px;
  width: 100%;
  box-sizing: border-box;

  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
  background-color: transparent;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }
}

.order-form__list--contacts .order-form__field {
  margin-top: 13px;
  padding-right: 50px;
}

.order-form__list--comment .order-form__field {
  margin-top: 25px;
  padding: 15px 17px 8px;

  box-shadow: inset 0 0 0 2px #000000;

  resize: none;
  overflow: auto;
}

.order-form__instruction {
  display: block;
  margin-top: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  color: #444444;
}

.order-form__send {
  width: 260px;
  margin-top: 31px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;

  color: #444444;
}

@media (min-width: 768px) {
  .order-form__group-wrap:nth-of-type(2n) {
    background-color: #f1f1f1;
  }

  .order-form__group {
    border: none;
  }

  .order-form__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 167px;

    &--type {
      padding: 46px 0 68px;
    }

    &--color {
      padding: 42px 0 9px;
    }

    &--name {
      padding: 32px 0 50px;
    }

    &--contacts {
      margin: 0;
      padding: 41px 0 49px;
    }

    &--comment {
      align-items: baseline;
      margin: 0;
      padding: 52px 0;

      border: none;
    }
  }

  .order-form__item {
    padding-left: 81px;
  }

  .order-form__list--type .order-form__item {
    margin-bottom: 58px;
  }

  .order-form__list--color .order-form__item {
    width: 240px;
    margin-bottom: 59px;
  }

  .order-form__list--name .order-form__item {
    align-items: baseline;
    padding-left: 0;
    margin-bottom: 28px;
  }

  .order-form__list--contacts .order-form__item {
    align-items: baseline;
    margin-bottom: 15px;

    &:last-child {
      border: none;
    }

    &--phone::before {
      top: 20px;
      right: 26px;
    }

    &--mail::before {
      top: 26px;
      right: 22px;
    }
  }

  .order-form__legend {
    display: block;
    align-self: baseline;
    margin-top: 68px;
    margin-bottom: -62px;

    background-color: transparent;
    border: none;
  }

  .order-form__list--contacts .order-form__legend,
  .order-form__list--comment .order-form__legend {
    width: 167px;
    margin: 0;
    box-sizing: border-box;
  }

  .order-form__label {
    padding-right: 28px;

    font-size: 19px;
    line-height: 18px;

    &--radio::before {
      top: -17px;
      left: 1px;

      width: 51px;
      height: 51px;

      box-shadow: inset 0 0 0 47px #ffffff;
    }

    &--checkbox::before {
      top: -14px;
      left: 1px;

      width: 54px;
      height: 52px;
    }
  }

  .order-form__list--color input:checked + label::before {
    background-size: 33px 22px;
  }

  .order-form__list .order-form__field {
    flex-grow: 1;
    width: auto;
    padding-left: 15px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  .order-form__list--comment .order-form__field {
    margin-top: 0;

    resize: none;
    overflow: auto;
  }

  .order-form__misc {
    display: flex;
    justify-content: space-between;
  }

  .order-form__instruction {
    order: 1;

    align-self: center;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .order-form__send {
    width: 230px;
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .order-form__list {

    margin-left: 174px;

    &--color {
      width: 766px;
    }

    &--name {
      width: 700px;
      padding: 35px 2px 50px;
    }

    &--contacts {
      width: 875px;
      margin: 0;
    }

    &--comment {
      align-items: baseline;
      margin: 0;
      padding: 51px 175px 50px 0;
      box-sizing: border-box;
    }
  }

  .order-form__list--color .order-form__item {
    margin-bottom: 57px;
  }

  .order-form__list--contacts .order-form__item {
    &--phone::before {
      top: 20px;
      right: 8px;
    }

    &--mail::before {
      top: 26px;
      right: 4px;
    }
  }

  .order-form__legend {
    min-width: 165px;

    text-align: center;
  }

  .order-form__list--contacts .order-form__legend,
  .order-form__list--comment .order-form__legend {
    width: 174px;
    padding: 0;
  }

  .order-form__list--comment .order-form__field {
    flex-grow: 0;
    width: 700px;
  }

  .order-form__misc {
    padding: 0 175px;
    box-sizing: border-box;
  }
}
