.order-form__group-wrap {
  width: 100%;
  margin: 0 auto;
}

.order-form__group {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  border: none;
  border-top: 1px solid #63d1bb;
}

.order-form__group legend {
  margin-top: -10px;
}

.order-form__legend {
  display: block;
  min-width: 42px;
  padding-right: 25px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #63d1bb;
  background-color: #ffffff;
}

.order-form__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 260px;
  margin: 0 auto;
  padding: 0;

  list-style: none;

  &--type {
    padding-top: 35px;
    padding-bottom: 4px;
  }

  &--color {
    padding-top: 35px;
  }

  &--name {
    padding: 28px 0 40px;
  }

  &--contacts {
    padding-bottom: 42px;
  }

  &--comment {
    padding: 0;

    border-top: 1px solid #63d1bb;
  }
}

.order-form__item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 62px;
  box-sizing: border-box;
}

.order-form__list--type .order-form__item {
  min-height: 59px;
}

.order-form__list--color .order-form__item {
  min-height: 61px;
}

.order-form__list--name .order-form__item {
  min-height: 69px;
  margin-bottom: 23px;
  padding-left: 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.order-form__list--contacts .order-form__item {
  padding-left: 0;
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
    border-top: 1px solid #63d1bb;
  }
}

.order-form__icon-phone {
  position: absolute;
  top: 25px;
  right: 7px;

  width: 25px;
  height: 24px;

  fill: rgba(68, 68, 68, 0.2);
}

.order-form__icon-mail {
  position: absolute;
  top: 30px;
  right: 4px;

  width: 32px;
  height: 21px;

  fill: rgba(68, 68, 68, 0.2);
}

.order-form__label {
  display: block;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 18px;
  font-weight: bold;

  &--radio::before {
    content: "";

    position: absolute;
    top: -8px;
    left: 1px;

    width: 38px;
    height: 38px;
    box-sizing: border-box;

    border: 2px solid #444444;
    border-radius: 50%;
    background-color: #ffffff;
  }

  &--radio:hover::before {
    border: 2px solid #62d1ba;
  }

  &--radio:active::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &--checkbox {
    z-index: 1;

    &::before {
      content: "";

      position: absolute;
      top: -10px;
      left: 1px;

      width: 40px;
      height: 39px;
      box-sizing: border-box;

      border: 2px solid #444444;
    }
  }

  &--checkbox:hover::before {
    border: 2px solid #62d1ba;
  }

  &--checkbox:active::before {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }

  &--name {
    padding: 5px 0;
  }
}

.order-form__list--type input:checked + label::before {
  box-shadow:
    inset 0 0 0 10px #ffffff,
    inset 0 0 0 18px #62d1ba;
}

.order-form__list--type input:focus + label::before {
  border: 2px solid #62d1ba;
}

.order-form__list--type input[disabled] + label {
  color: rgba(68, 68, 68, 0.1);

  &::before {
    border: 2px solid rgba(68, 68, 68, 0.1);
  }
}

.order-form__icon-tick {
  position: absolute;
  top: 2px;
  left: 8px;

  display: none;
  width: 22px;
  height: 16px;
}

.order-form__list--color input:checked ~ .order-form__icon-tick {
  display: block;
}

.order-form__list--color input[disabled] + label {
  color: rgba(68, 68, 68, 0.1);

  &::before {
    border: 2px solid rgba(68, 68, 68, 0.1);
  }
}

.order-form__list--color input:focus + label::before {
  border: 2px solid #62d1ba;
}

.order-form__list--contacts .order-form__legend,
.order-form__list--comment .order-form__legend {
  align-self: flex-start;
  display: block;
  margin-top: -10px;
}

.order-form__field {
  width: 100%;
  min-height: 52px;
  padding: 17px 0 17px;
  box-sizing: border-box;

  border: none;
  box-shadow: inset 0 -2px 0 0 #000000;
  background-color: transparent;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    box-shadow: inset 0 -2px 0 0 #62d1ba;
  }

  &:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 0 #62d1ba;

    &::placeholder {
      color: #444444;
    }
  }
}

.order-form__list--contacts .order-form__field {
  margin-top: 7px;
  padding-right: 50px;
}

.order-form__item--phone input:hover ~ .order-form__icon-phone,
.order-form__item--phone input:focus ~ .order-form__icon-phone,
.order-form__item--mail input:hover ~ .order-form__icon-mail,
.order-form__item--mail input:focus ~ .order-form__icon-mail {
  fill: #62d1ba;
}

.order-form__list--comment .order-form__field {
  margin-top: 25px;
  padding: 15px 17px;

  box-shadow: inset 0 0 0 2px #000000;

  resize: none;
  overflow: auto;

  &:hover {
    box-shadow: inset 0 0 0 2px #62d1ba;
  }

  &:focus {
    box-shadow: inset 0 0 0 2px #62d1ba;
  }
}

.order-form__instruction {
  display: block;
  margin-top: 14px;

  font-size: 14px;
  line-height: 16px;
  font-weight: normal;

  color: #444444;
}

.order-form__send {
  width: 260px;
  margin-top: 31px;

  font-size: 17px;
  line-height: 16px;
  font-weight: bold;

  color: #444444;
}

@media (min-width: $tablet-width) {
  .order-form__group-wrap:nth-of-type(2n) {
    background-color: #f1f1f1;
  }

  .order-form__group {
    border: none;
  }

  .order-form__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 502px;
    margin-left: 167px;

    &--type {
      padding: 46px 0 10px;
    }

    &--color {
      padding: 45px 0 10px;
    }

    &--name {
      padding: 30px 0 35px;
    }

    &--contacts {
      width: 668px;
      margin: 0;
      padding: 41px 0 49px;
    }

    &--comment {
      align-items: baseline;
      width: 668px;
      margin: 0 auto;
      padding: 52px 0;

      border: none;
    }
  }

  .order-form__group legend {
    display: block;
    line-height: 13px;
    margin-top: 0;
  }

  .order-form__item {
    flex-direction: row;
    padding-left: 81px;
  }

  .order-form__list--type .order-form__item {
    min-height: 76px;
  }

  .order-form__list--color .order-form__item {
    width: 240px;
    min-height: 76px;
  }

  .order-form__list--name .order-form__item {
    align-items: baseline;
    padding-left: 0;
    margin-bottom: 6px;
  }

  .order-form__list--contacts .order-form__item {
    align-items: baseline;
    margin-bottom: 18px;

    &:last-child {
      border: none;
    }
  }

  .order-form__icon-tick {
    top: 0;
    left: 12px;

    width: 33px;
    height: 22px;
  }

  .order-form__icon-phone {
    top: 20px;
    right: 26px;
  }

  .order-form__icon-mail {
    top: 22px;
    right: 22px;
  }

  .order-form__legend {
    align-self: baseline;
    margin-top: 68px;
    margin-bottom: -62px;

    background-color: transparent;
    border: none;
  }

  .order-form__list--contacts .order-form__legend {
    width: 167px;
    margin-top: 25px;
    box-sizing: border-box;
  }

  .order-form__list--comment .order-form__legend {
    width: 167px;
    margin-top: 15px;
    box-sizing: border-box;
  }

  .order-form__label {
    padding-right: 28px;

    font-size: 19px;
    line-height: 18px;

    &--radio::before {
      top: -17px;
      left: 1px;

      width: 51px;
      height: 51px;

      box-shadow: inset 0 0 0 47px #ffffff;
    }

    &--checkbox::before {
      top: -15px;
      left: 1px;

      width: 54px;
      height: 52px;
    }
  }

  .order-form__list--type input:checked + label::before {
    box-shadow: inset 0 0 0 13.5px #ffffff;
  }

  .order-form__list--color input:checked + label::before {
    background-size: 33px 22px;
  }

  .order-form__list .order-form__field {
    flex-grow: 1;
    width: auto;
    padding-left: 15px;

    &::placeholder {
      font-size: 19px;
      line-height: 18px;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  .order-form__list--comment .order-form__field {
    margin-top: 0;
    padding: 15px 17px 13px;
  }

  .order-form__misc {
    display: flex;
    justify-content: space-between;
  }

  .order-form__instruction {
    order: 1;

    align-self: center;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }

  .order-form__send {
    width: 230px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .order-form__list {

    margin-left: 174px;

    &--type {
      width: 766px;
    }

    &--color {
      width: 766px;
    }

    &--name {
      width: 700px;
      padding: 35px 2px 50px;
    }

    &--contacts {
      width: 875px;
      margin: 0;
    }

    &--comment {
      align-items: baseline;
      width: 1050px;
      margin: 0 auto;
      padding: 51px 175px 50px 0;
      box-sizing: border-box;
    }
  }

  .order-form__list--color .order-form__item {
    margin-bottom: 57px;
  }

  .order-form__list--contacts .order-form__item {
    &--phone::before {
      top: 20px;
      right: 8px;
    }

    &--mail::before {
      top: 26px;
      right: 4px;
    }
  }

  .order-form__legend {
    min-width: 165px;

    text-align: center;
  }

  .order-form__list--contacts .order-form__legend,
  .order-form__list--comment .order-form__legend {
    width: 174px;
    padding: 0;
  }

  .order-form__list--comment .order-form__field {
    flex-grow: 0;
    width: 700px;
  }

  .order-form__misc {
    padding: 0 175px;
    box-sizing: border-box;
  }
}
