.page-header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  line-height: 0;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display: block;
  width: 100%;
  padding: 21px 0;

  text-align: center;
}

@media (min-width: 768px) {
  .page-header {
    justify-content: space-between;

    padding-left: 60px;
  }

  .page-header__logo {
    width: auto;
    padding: 26px 0;
  }
}
