.page-title {
  margin: 0;
  padding: 70px 0 77px;
  width: 100%;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  background-color: #f1f1f1;
  border-top: 1px solid $border-color;
}

.page-title--form-html {
  color: #231f20;
}

@media (min-width: 768px) {
  .page-title {
    position: relative;

    margin-top: -62px;
    padding-top: 95px;
    padding-bottom: 80px;

    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 23px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px 23px;
      background-position: bottom center;
      background-repeat: repeat-x;
    }
  }
}

@media (min-width: 1150px) {
  .page-title {
    padding-top: 93px;
    padding-bottom: 105px;

    font-size: 53px;
    line-height: 57px;

    &::after {
      height: 34px;

      background-size: 1150px 34px;
    }
  }
}
