.page-header {
  min-height: 79px;
  box-sizing: border-box;

  line-height: 0;

  border-top: 1px solid $border-color;
}

.page-header__wrap {
  position: relative;

  padding: 0;
}

.page-header__logo {
  display: block;
  padding: 21px 0 22px;
}

@media (min-width: 768px) {
  .page-header {
    min-height: 88px;

    border-top: none;
  }

  .page-header__wrap {
    padding: 0 50px;
  }

  .page-header__logo {
    order: 1;

    padding: 22px 0 20px;
  }

  .page-header__logo-image {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    order: 2;

    margin: 0 auto;
    margin-left: 76px;
    padding: 9px 0 7px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }
}
