.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 32px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo-image {
    width: 102px;
  }

  .page-footer__social {
    margin: 0;
    margin-left: 80px;
  }
}
