.page-title {
  position: relative;

  margin: 0;
  padding: 70px 0 77px;
  width: 100%;

  font-size: 27px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;

  background-color: #f1f1f1;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    display: block;
    width: 320px;
    height: 1px;

    background-color: #ececec;
  }
}

.page-title--form-html {
  color: #231f20;
}

@media (min-width: $tablet-width) {
  .page-title {
    position: relative;

    margin-top: -62px;
    padding-top: 95px;
    padding-bottom: 80px;

    font-size: 43px;
    line-height: 50px;

    &::before {
      width: 768px;
      background-color: rgba(68, 68, 68, 0.1);
    }

    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      width: 100%;
      height: 12px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: 770px 24px;
      background-position: center 0;
      background-repeat: repeat-x;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding-top: 93px;
    padding-bottom: 105px;

    font-size: 53px;
    line-height: 57px;

    &::before {
      width: 1150px;
    }

    &::after {
      height: 17px;

      background-size: 1150px 34px;
    }
  }
}
