.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrap {
  padding: 0 30px;
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 50px;
    padding-bottom: 29px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin: 0;
    margin-left: 95px;
  }
}
