.page-header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  min-height: 78px;

  line-height: 0;

  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__logo {
  display: block;
  width: 100%;
  padding: 21px 0;

  text-align: center;
}

@media (min-width: 768px) {
  .page-header {
    justify-content: space-between;

    padding: 0 50px;
  }

  .page-header__logo {
    order: 1;

    width: auto;
    padding: 26px 0;
  }
}

@media (min-width: 1150px) {
  .page-header {
    padding: 0 50px;
  }

  .page-header__logo {
    order: 2;

    width: auto;
    margin: 0 auto;
    margin-right: 0;
    padding: 26px 0;
  }
}
