.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrap {
  padding-top: 25px;
  padding-bottom: 25px;
}

.page-footer__logo {
  display: none;

  &[href]:hover {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo-image {
    width: 102px;
  }

  .page-footer__social {
    margin: 0;
    margin-left: 76px;
  }
}
