.product-properties {
  width: 100%;

  color: #444444;
  border-collapse: collapse;
}

.product-properties__name,
.product-properties__value {
  padding: 10px 0;

  text-align: left;
}

.product-properties__row {
  box-shadow: inset 0 -1px 0 0 #ececec;
}

@media (min-width: 768px) {
  .product-properties {
    width: 292px;
  }
}
