.product-properties {
  width: 100%;

  color: #444444;
  border-collapse: collapse;
}

.product-properties__name,
.product-properties__value {
  padding: 8.5px 0;

  text-align: left;
}

.product-properties__name {
  width: 85px;
  padding-right: 15px;
}

.product-properties__row {
  border-bottom: 1px solid $border-color;
}
