.product-properties {
  width: 100%;

  color: #444444;
  border-collapse: collapse;
}

.product-properties__name,
.product-properties__value {
  padding: 8.5px 0;

  text-align: left;
}

.product-properties__name {
  width: 85px;
  padding-right: 11px;
}

.product-properties__row {
  border-bottom: 1px solid #ececec;
}

@media (min-width: $desktop-width) {
  .product-properties__value {
    padding: 6px 0 10px;
  }
}
