.reviews {
  padding: 30px 0;

  background-color: #ffffff;
}

.reviews__wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
}

.reviews__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reviews__content {
  margin: 0;

  line-height: 30px;
  color: #444444;
}

.reviews__author {
  display: block;
  margin-top: 25px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #444444;
}

.reviews__write-button {
  margin-top: 40px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  color: #444444;
  text-decoration: none;
}

.reviews__button-wrap {
  height: 52px;
  margin-top: 30px;
}

.reviews__button {
  margin: 0;

  padding: 14px 0;
  width: 130px;
  height: 52px;
  box-sizing: border-box;

  border: 1px solid #ececec;
  background-color: #ffffff;
  cursor: pointer;

  &--prev {
    float: left;

    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 0.5px solid #ececec;
  }

  &--next {
    float: right;

    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-left: 0.5px solid #ececec;
  }
}

@media (min-width: 768px) {
  .reviews {
    padding: 70px 0;
  }

  .reviews__wrapper {
    padding: 0 50px;
  }

  .reviews__title {
    order: 1;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__list {
    order: 3;

    min-height: 457px;
  }

  .reviews__content {
    margin-top: 50px;

    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    display: block;
    margin-top: 55px;
  }

  .reviews__button {
    width: 50px;

    border: none;
  }

  .reviews__button-wrap {
    position: absolute;
    bottom: 0;
    right: 20px;

    width: 135px;
  }

  .reviews__write-button {
    order: 2;

    width: 175px;
    margin: 0;
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding: 50px;
  }

  .reviews__wrapper {
    padding: 0;
    padding-left: 170px;
  }

  .reviews__title {
    font-size: 53px;
    line-height: 57px;
  }

  .reviews__author {
    margin-top: 30px;
  }

  .reviews__content {
    width: 770px;
  }
}
