.reviews {
  background-color: #ffffff;
}

.reviews__wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 52px;

  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 320px;
    height: 9px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: 319px 9px;
    background-position: bottom center;
    background-repeat: repeat-x;
  }
}

.reviews__title {
  margin: 0;

  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

.reviews__list {
  margin: 0;
  margin-top: 25px;
  padding: 0;

  list-style: none;
}

.reviews__content {
  margin: 0;

  line-height: 30px;
  color: #444444;
}

.reviews__author {
  display: block;
  margin-top: 25px;

  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  font-style: normal;
}

.reviews__author-link {
  font-size: 17px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  color: #444444;
}

.reviews__button-wrap {
  height: 52px;
  margin-top: 28px;
}

.reviews__button {
  margin: 0;

  padding: 14px 0;
  width: 130px;
  height: 52px;
  box-sizing: border-box;

  border: 1px solid $border-color;
  background-color: #ffffff;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--prev {
    float: left;

    background-image: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-right: 0.5px solid $border-color;
  }

  &--next {
    float: right;

    background-image: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-left: 0.5px solid $border-color;
  }
}

.reviews__write-button {
  margin-top: 38px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;

  color: #444444;
  text-decoration: none;
}

@media (min-width: 768px) {
  .reviews__wrapper {
    min-height: 457px;
    padding-top: 78px;
    padding-bottom: 130px;

    background-image: url("../../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;

    &::after {
      height: 17px;
      width: 768px;

      background-size: 772px 17px;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .reviews__title {
    order: 1;

    margin-left: -5px;

    font-size: 43px;
    line-height: 50px;
  }

  .reviews__list {
    order: 3;

    margin-top: 45px;
  }

  .reviews__content {
    font-size: 17px;
    line-height: 30px;
  }

  .reviews__author {
    display: block;
    margin-top: 55px;

    font-size: 18px;
  }

  .reviews__button {
    width: 50px;

    border: none;
  }

  .reviews__button-wrap {
    position: absolute;
    bottom: 133px;
    right: 70px;

    width: 135px;
  }

  .reviews__write-button {
    order: 2;

    width: 175px;
    margin: 0;
    margin-top: 2px;
  }
}

@media (min-width: 1150px) {
  .reviews {
    padding-top: 36px;
  }

  .reviews__wrapper {
    padding-top: 70px;
    padding-left: 225px;
    padding-bottom: 186px;

    background-position-x: 50px;

    &::after {
      left: 50px;

      height: 26px;
      width: 1050px;

      background-size: 1050px 26px;
    }
  }

  .reviews__title {
    margin-left: -3px;

    font-size: 53px;
    line-height: 57px;
  }

  .reviews__author {
    margin-top: 35px;

    font-size: 17px;
  }

  .reviews__content {
    width: 770px;
  }

  .reviews__button-wrap {
    bottom: 188px;
    right: 71px;
  }

  .reviews__write-button {
    margin-top: 10px;
  }
}
