.search-form {
  position: relative;
}

.search-form__field-label {
  cursor: pointer;

  &:hover {
    color: rgba(0, 0, 0, 0.6);

    & .search-form__icon-search {
      fill: rgba(99, 209, 187, 1);
    }
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);

    & .search-form__icon-search {
      fill: rgba(99, 209, 187, 0.3);
    }
  }
}

.search-form__icon-search {
  position: absolute;
  top: 4px;
  left: -44px;

  display: block;
  width: 18px;
  height: 18px;

  fill: rgba(34, 31, 31, 0.2);
}

.search-form__field {
  display: none;
}

@media (min-width: $tablet-width) {
  .search-form__icon-search {
    top: 37px;
    left: 32px;
  }

  .search-form__field-label span {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
  }
}
