.site-list {
  margin: 0;
  padding: 0;

  background-color: #ffffff;

  list-style: none
}

.site-list__item {
  position: relative;

  padding: 30px 0;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;

  box-shadow: inset 0 2px 0 0 #ececec;
}

.site-list__item:last-child {
  box-shadow:
  inset 0 2px 0 0 #ececec,
  inset 0 -2px 0 0 #ececec;
}

.site-list__link {
  color: inherit;
  text-decoration: none;
}
