.social {
  margin: 0 auto;
  padding: 0;

  text-align: center;

  list-style: none;
}

.social__item {
  display: inline-block;
  margin-right: 36px;

  vertical-align: middle;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
}

.social__link--instagramm {
  width: 22px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.social__link--facebook {
  width: 15px;
  height: 28px;
  background-image: url("../img/icon-fb.svg");
  background-repeat: no-repeat;
}

.social__link--twitter {
  width: 23px;
  height: 20px;
  background-image: url("../img/icon-twitter.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .social {
    border: none;
  }
}
