$mobile-width: 320px;
$mobile-width--only: 767px;
$tablet-width: 768px;
$desktop-width: 1150px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$border-color: #ececec;
$form-border: #63d1bb;
$outline: 2px solid rgba(255, 0, 0, 0.3);
